@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --body-font: 'Roboto', sans-serif;
  --main-font-color-dark: #d1b384;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
  --main-dark-color: #343233;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  scroll-behavior: smooth;
}

.card-header {
  color: #474747;
}

.logo-header-top {
  padding-top: 50px;
  patting-bottom: 0px;
}

.container {
  padding-bottom: 20px;
  padding-top: 20px;
}

.adm-btn {
  margin-left: 10px;
}

.card {
  font: 16px normal normal;
  font-family: var(--body-font);
  font-weight: 300;
  border-color: #fff7e3;
  margin: 4em 0 0 0;
  border: .1px solid #4e4b4d;
  color: var(--main-font-color-dark);
  border-color: #efdab9;
}

.container {
  max-width: 900px;
}

.cart-btn {
  margin-left: 10px;
}

.card-header {
  background-color: #fff7e3;
  border-color: #fff7e3;
}

.btn-primary {
  background-color: #ffd152;
  border-color: #ffd152;
}

.order-btn {
  margin-left: 10px;
}

.btn-primary:hover {
  background-color: #e6b222;
  border-color: #e6b222;
}

/* Menu */
.food-menu-card {
  padding: 30px 20px;
  border-color: #fff7e3;
  border-radius: 8px;
}

.food-menu-card .media {
  padding: 5px;
  margin-bottom: 20px;
}

.food-menu-card .media .img-fluid {
  padding: 5px;
  border-radius: 3px;
  color: black;
  width: 80px;
}

.food-menu-card .media .d-flex {
  padding: 5px;
  position: relative;
  color: black;
}

.food-menu-card .media .d-flex:before {
  content: "";
  position: absolute;
  left: auto;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #fff7e3;
  color: black;
  top: 50%;
}

.food-menu-card .media h3 {
  padding: 5px;
  color: black;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding-right: 1.07143rem;
  background-color: #fff;
  color: black;
  z-index: 2;
  color: var(--main-font-color-dark);
}

.food-menu-card .media strong {
  padding: 5px;
  background-color: #fff7e3;
  display: block;
  padding-left: 15px;
  z-index: 2;
  position: relative;
}

.tabs-menu-nav > li > a {
  padding: 5px;
  color: #ffd152;
  display: block;
  font-size: 16px;
  border-bottom: 3px solid transparent;
  opacity: 0.5;
}

.tabs-menu-nav > li > a.active {
  padding: 5px;
  opacity: 1;
  border-bottom-color: #db2e2e;
}

.media-body, p {
  padding: 2px;
  color: #999;
}

/*Register Section*/
/* Border, margin, and width of form */
form {
  opacity: .8;
  width: 100%;
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
}

form h1 {
  margin-top: 0;
  font-weight: 300;
}

input {
  border: none;
  text-align: center;
  display: block;
  background-color: #fff7e3;
  padding: 12px 0;
  margin-top: 8px;

}

fieldset {
  border: none;
}
